<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2018-2019 SKABAS LIMITED. All rights reserved.
  ~
  ~ @license LICENSE.txt
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Skabas_AutoSetInStock::config"
                          title="Automatically Set Stock Item To In Stock Configuration"
                          translate="title"
                          sortOrder="10"
                />
            </resource>
        </resources>
    </acl>
</config>
